# Set

Sets are unordered collection of unique elements, we can construct them by using the set() function.
sets connect have duplicates.
sets are mutable just like list.
you can a non-empty set with curly braces by specifying elemets seprated by a comma.

In [1]:
# create an empty set 
empty_set = set()

In [3]:
type(empty_set)

set

In [4]:
#create a non_empty set whitin curly braces.
non_empty_set = {1,6,4,'abc',5}

In [5]:
print(non_empty_set)

{1, 4, 5, 6, 'abc'}

In [6]:
type(non_empty_set)

set

# We cannot create a set whose any of the elements is a list

We can cast a list with mulitple repeat elements to a set to get the unique elements.

In [8]:
#create a list with repeate.
my_list = [1,1,2,2,3,5,6,1,1,1]
print(my_list)

[1, 1, 2, 2, 3, 5, 6, 1, 1, 1]

In [9]:
# Cast as set to get unique values.
my_set = set(my_list)

In [10]:
my_set

{1, 2, 3, 5, 6}

# A set cannot have mutable items

In [11]:
my_set = {1,2,(3,4)}
print(my_set)

{1, 2, (3, 4)}

# ADD Method

add () method adds an elements to a set.


this method takes the elemnts to be added as an arguments.

In [12]:
#we add to sets with the add( )method
my_set = set()   #empty set
my_set.add('b')

In [13]:
#show
my_set

{'b'}

In [17]:
my_set2 = set()
my_set2.add('prasad')
#show 
my_set2

{'prasad'}

In [18]:
# we add to sets with the add() method
my_set = set()
my_set.add('jen')
#show
my_set
my_set.add('a')
#show
my_set.add('b')
#show
my_set

{'a', 'b', 'jen'}

In [20]:
student = set()
student.add("Name:prasad")
#show 
student
student.add("Roll number : 25")
#show
student
student.add("Std:12")
#show
student
student.add("Mark:95%")
#show
student

{'Mark:95%', 'Name:prasad', 'Roll number : 25', 'Std:12'}

# Remove method

Use remove() ro remove an items elements from the set by default remove() to specified elements the specified elements the set remove( ) takes the elements as an arguments.

In [23]:
non_empty_set = {1,5,6,73,2}
print(non_empty_set)

{1, 2, 5, 6, 73}

In [24]:
set_2 = {2,3,4,5,65,45}
print(set_2)
set_2.remove(65)
print(set_2)

{65, 2, 3, 4, 5, 45}
{2, 3, 4, 5, 45}

# Union()

Union() method returns the union of two set also denoted by the operator

union = add two sets

In [26]:
#initialize sets A and B
A ={1,2,3,4,5}
B = {4,5,6,7,8}

In [27]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
A

{1, 2, 3, 4, 5}

In [30]:
B

{4, 5, 6, 7, 8}

In [31]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [32]:
#Intialize sets A and B
A = {'Prasad', 'Madhuri','van', 'jack'}
B = {'Sam', 'mesh', 'neek'}
A|B

{'Madhuri', 'Prasad', 'Sam', 'jack', 'mesh', 'neek', 'van'}

# Intersection()

Intersection( ) method returns the intersection of two sets also denoted by the operaters and types.

In [33]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A.intersection(B)

{4, 5}

In [34]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A&B

{4, 5}

In [35]:
A&B

{4, 5}