# Loops

# In python we have mainly two different types of loops:

for loop: In the context of most data science work, python for loops are used to loop through an iterable object (like a list, tuple, set,etc)and perform the same action for each entry, for example, a for loop would allow us to iterate through a list, performing the same action on each item in the list.
    
while loop: The while loop is somewhat similar to an if statement, it executes the code inside, if the condition is true.
However, as opposed to the if statement, the while loop continues to execute the code repeatedly as long as the condition is true.

# For loops

A for loop acts as an iterator in python; it goes through items that are in a sequence or any other iterable item. iterable is an object, which one can iterate over. Objects that we've learned about that we can iterate over include strings, lists, tuples and even built-in iterables for dictionaries, such as key or values.

# For loop

In [32]:
duck_house = ['A', 'B','C','D','E','F']
print(duck_house)

['A', 'B', 'C', 'D', 'E', 'F']

In [33]:
# the all items call black
for black in duck_house[::-1]:
    print(f" the all ducks are black = {black}.")

 the all ducks are black = F.
 the all ducks are black = E.
 the all ducks are black = D.
 the all ducks are black = C.
 the all ducks are black = B.
 the all ducks are black = A.

In [34]:
#the all items call black.
for black in duck_house[0::]:
    print(f"the all ducks are black. = {black}")

the all ducks are black. = A
the all ducks are black. = B
the all ducks are black. = C
the all ducks are black. = D
the all ducks are black. = E
the all ducks are black. = F

In [35]:
# the all items call black
for black in duck_house[0::]:
    print(f"{black} = the all ducks are black.")

A = the all ducks are black.
B = the all ducks are black.
C = the all ducks are black.
D = the all ducks are black.
E = the all ducks are black.
F = the all ducks are black.

In [79]:
# Consider a list of strings.
got_house = ['stark', 'arryn', 'baratheon','tully','greyjoy', 'lannister']
print(got_house)

['stark', 'arryn', 'baratheon', 'tully', 'greyjoy', 'lannister']

In [80]:
#A simple for loop to print the houses of GOT universe
for house in got_house[::-1]:
    print(f"house {house}")

house lannister
house greyjoy
house tully
house baratheon
house arryn
house stark

In [88]:
for home in got_house[0::]:
    print(f"the got house {home} is {number+1}")    #pending doubt

the got house stark is 1
the got house arryn is 1
the got house baratheon is 1
the got house tully is 1
the got house greyjoy is 1
the got house lannister is 1

In [74]:
for number, home in enumerate(got_house):
    print(f"the got house {home} is {number+1}")

the got house stark is 1
the got house arryn is 2
the got house baratheon is 3
the got house tully is 4
the got house greyjoy is 5
the got house lannister is 6

number + 1  is the enmerating method in python

Enmerate method in python 

a built in function that allows you to iterate through a sequence and keep track of the index of each element.

In [15]:
got_house

['stark', 'arryn', 'baratheon', 'tully', 'greyjoy', 'lannister']

In [21]:
# using enumerate function to loop through the elements of the list
for number, house in enumerate(got_house):
    print(f"The house no of house {house}is = {number+1}")

The house no of house starkis = 1
The house no of house arrynis = 2
The house no of house baratheonis = 3
The house no of house tullyis = 4
The house no of house greyjoyis = 5
The house no of house lannisteris = 6

In [22]:
for number, house in enumerate(got_house):
    print(f"{number+2} = The house no of house {house} ")

2 = The house no of house stark
3 = The house no of house arryn
4 = The house no of house baratheon
5 = The house no of house tully
6 = The house no of house greyjoy
7 = The house no of house lannister

Another intersting way to loop through the elements of a list is to the enumerate () function.
using enumerate requries us twoo interators index and elements.

In [23]:
x = 1,2

In [24]:
x

(1, 2)

In [25]:
list(enumerate(got_house))

[(0, 'stark'),
 (1, 'arryn'),
 (2, 'baratheon'),
 (3, 'tully'),
 (4, 'greyjoy'),
 (5, 'lannister')]

In [26]:
lower_range = int(input('Lower range value:'))
upper_range = int(input('Upper range value:'))
print("The numbers")
for numbers in range (lower_range,upper_range+1):
    print(f"{numbers+1} = all the numbers are {numbers}")

Lower range value:0
Upper range value:10
The numbers
1 = all the numbers are 0
2 = all the numbers are 1
3 = all the numbers are 2
4 = all the numbers are 3
5 = all the numbers are 4
6 = all the numbers are 5
7 = all the numbers are 6
8 = all the numbers are 7
9 = all the numbers are 8
10 = all the numbers are 9
11 = all the numbers are 10

In [27]:
#Write a program to display numbers within a range 
lower_range = int(input('Lower range value:'))
upper_range = int(input('Upper range value:'))
print("The numbers")
for numbers in range (lower_range,upper_range+1):
    print(f"{numbers+1} = all the numbers are {numbers}")

Lower range value:0
Upper range value:20
The numbers
1 = all the numbers are 0
2 = all the numbers are 1
3 = all the numbers are 2
4 = all the numbers are 3
5 = all the numbers are 4
6 = all the numbers are 5
7 = all the numbers are 6
8 = all the numbers are 7
9 = all the numbers are 8
10 = all the numbers are 9
11 = all the numbers are 10
12 = all the numbers are 11
13 = all the numbers are 12
14 = all the numbers are 13
15 = all the numbers are 14
16 = all the numbers are 15
17 = all the numbers are 16
18 = all the numbers are 17
19 = all the numbers are 18
20 = all the numbers are 19
21 = all the numbers are 20

In [28]:
#Write a program to display print numbers within a range 
lower_range = int(input('Lower range value:'))
upper_range = int(input('Upper range value:'))
print("The prime numbers are")
for numbers in range (lower_range,upper_range+1):
    if numbers > 1:
        for i in range (2,numbers):
            if (numbers%i) == 0:
                break
        else:
            print(numbers)

Lower range value:0
Upper range value:30
The prime numbers are
2
3
5
7
11
13
17
19
23
29

In [2]:
# The list of the numbers
list_of_numbers = [1,2,4,6,11,14,17,20]
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [3]:
#Let us first print the squares
for number in list_of_numbers:
    squared_number = number**2
    print(f"The square of {number} is {squared_number}.")

The square of 1 is 1.
The square of 2 is 4.
The square of 4 is 16.
The square of 6 is 36.
The square of 11 is 121.
The square of 14 is 196.
The square of 17 is 289.
The square of 20 is 400.

In [4]:
list_of_numbers

[1, 2, 4, 6, 11, 14, 17, 20]

In [5]:
#let us first initialize a list where we will be aappending the square in each 
squared_numbers = []

for number in list_of_numbers:
    square = number**2
    #use the append method to add the numbers one by one to our list.
    squared_numbers.append(square)
    print(squared_numbers)
print(f"The list of squared numbers is {squared_numbers}")

[1]
[1, 4]
[1, 4, 16]
[1, 4, 16, 36]
[1, 4, 16, 36, 121]
[1, 4, 16, 36, 121, 196]
[1, 4, 16, 36, 121, 196, 289]
[1, 4, 16, 36, 121, 196, 289, 400]
The list of squared numbers is [1, 4, 16, 36, 121, 196, 289, 400]

In [6]:
print(list_of_numbers)
print(squared_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]
[1, 4, 16, 36, 121, 196, 289, 400]

In [7]:
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]
print(list_of_numbers)
squared_numbers = []

for number in list_of_numbers:
    if number%2 ==0:
        square = number**2
        squared_numbers.append(square)
    else:
        square ==" "
        squared_numbers.append(square)
    print(squared_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]
[400]
[400, 4]
[400, 4, 16]
[400, 4, 16, 36]
[400, 4, 16, 36, 36]
[400, 4, 16, 36, 36, 196]
[400, 4, 16, 36, 36, 196, 196]
[400, 4, 16, 36, 36, 196, 196, 400]

In [8]:
#let us zip the original numbers and squares together and get the dictionary
zipped_dict = dict(zip(list_of_numbers,squared_numbers))

#let us print the dictionary where the key is the number and 
print(zipped_dict)

{1: 400, 2: 4, 4: 16, 6: 36, 11: 36, 14: 196, 17: 196, 20: 400}

We only want to print the square of those numbers which are even.
Let us see how we can do this

# What is module? in range function. %

The % symbol in python is called the modulo operator. it returns the reminder of dividing the left hand operand by right hand operand. it's used to get the remainder of a division problem.

In [1]:
for number in range (1,10):
    if (number%2 !=0):
        print(number)

1
3
5
7
9

In [40]:
for number in range (1,30):
    if (number%2 !=0):
        print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [41]:
for number in range (1,20):
    if (number%3 !=0):
        print(number)

1
2
4
5
7
8
10
11
13
14
16
17
19

In [3]:
for number in range (1,100):
    if (number%7 ==0):
        print(number)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [4]:
for number in range (1,50):
    if (number%5 ==0):
        print(number)

5
10
15
20
25
30
35
40
45

In [5]:
for number in range (1,75):
    if (number%10 ==0):
        print(number)

10
20
30
40
50
60
70

In [11]:
for number in range (1,100):
    if (number%15 ==0):
        print(number)

15
30
45
60
75
90

In [14]:
for number in range (1,15):
    if (number%5 >0):
        print(number)

1
2
3
4
6
7
8
9
11
12
13
14

In [22]:
for number in range (50,76):
    if (number%5 >= 0):
        print(number)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [23]:
for number in range (1,20):
    if (number%2 1= 0):
        print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [42]:
for number in range (1,10):
    if (number%2 ==0):
        print(number)

2
4
6
8

In [43]:
for number in range (1,10):
    if (number%3 >0):
        print(number)

1
2
4
5
7
8

In [44]:
for number in range (1,41):
    if (number% 4>0):
        print(number)

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25
26
27
29
30
31
33
34
35
37
38
39

In [45]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [9]:
#Let us first print the squares
for number in list_of_numbers:
    if number%2 ==0:
        squared_number = number**2
        print(f"The square of {number} is {squared_number}")
    else:
        print(f" I am an odd number{number}. My master projibits me from printing.")

 I am an odd number1. My master projibits me from printing.
The square of 2 is 4
The square of 4 is 16
The square of 6 is 36
 I am an odd number11. My master projibits me from printing.
The square of 14 is 196
 I am an odd number17. My master projibits me from printing.
The square of 20 is 400

In [10]:
for number in list_of_numbers:
    if number%3 ==0:
        squared_number = number**2
        print(f"The square of {number} is {squared_number}")
    else:
        print(f" I am an odd number{number}. My master projibits me from printing.")

 I am an odd number1. My master projibits me from printing.
 I am an odd number2. My master projibits me from printing.
 I am an odd number4. My master projibits me from printing.
The square of 6 is 36
 I am an odd number11. My master projibits me from printing.
 I am an odd number14. My master projibits me from printing.
 I am an odd number17. My master projibits me from printing.
 I am an odd number20. My master projibits me from printing.

In [11]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
#print table of two using for loop
for a in range(1,11):
    #print("2 * ",a,"=",2*a)
    print(f'2 *  {a} = {2*a}')

2 *  1 = 2
2 *  2 = 4
2 *  3 = 6
2 *  4 = 8
2 *  5 = 10
2 *  6 = 12
2 *  7 = 14
2 *  8 = 16
2 *  9 = 18
2 *  10 = 20

In [13]:
for a in range(1,11):
    print(f'15 *  {a} = {15*a}')

15 *  1 = 15
15 *  2 = 30
15 *  3 = 45
15 *  4 = 60
15 *  5 = 75
15 *  6 = 90
15 *  7 = 105
15 *  8 = 120
15 *  9 = 135
15 *  10 = 150

In [54]:
#print square of numbers between 1 to 10 using for loop
for a in range(1,11):
    print(f'Square of {a} = {a**2}')

Square of 1 = 1
Square of 2 = 4
Square of 3 = 9
Square of 4 = 16
Square of 5 = 25
Square of 6 = 36
Square of 7 = 49
Square of 8 = 64
Square of 9 = 81
Square of 10 = 100

In [14]:
for a in range(1,11):
    print(f'Square of {a} = {a**3}')

Square of 1 = 1
Square of 2 = 8
Square of 3 = 27
Square of 4 = 64
Square of 5 = 125
Square of 6 = 216
Square of 7 = 343
Square of 8 = 512
Square of 9 = 729
Square of 10 = 1000

In [56]:
#print square of numbers between 1 to 10 using for loop 
for a in range(1,50):
    print(a* '=')

=
==
===
====
=====
======
=======
========
=========
==========
===========
============
=============
==============
===============
================
=================
==================
===================
====================
=====================
======================
=======================
========================
=========================
==========================
===========================
============================
=============================
==============================
===============================
================================
=================================
==================================
===================================
====================================
=====================================
======================================
=======================================
========================================
=========================================
==========================================
===========================================
============================================
=============================================
==============================================
===============================================
================================================
=================================================

In [15]:
for a in range(1,10):
    print(a* '3')

3
33
333
3333
33333
333333
3333333
33333333
333333333

In [57]:
#Let us first print the squares
for number in range (0,10,2):
    squared_number = number**2
    print(f'The square of {number} is {squared_number}')

The square of 0 is 0
The square of 2 is 4
The square of 4 is 16
The square of 6 is 36
The square of 8 is 64

In [58]:
for i in range(3,31,3):
    print(i)
for i in range(4,41,4):
    print(i)
for i in range(5,51,5):
    print(i)

3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

# Suppose we wanted to find the sum of the squares of our numbers in the list

In [16]:
#print our list
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [60]:
#Let us the initialize the sum of the squares with 0.This makes sense right!
sum_squares = 0
for number in range(1,11):
    sum_squares = sum_squares + number
    print(sum_squares)    #1+2 =3, 3+3 =4=6, 6+4 =10
# now we have added the squares of all numbers in our list
print(f"The sum of the squares of our list of numbers is {sum_squares}")

1
3
6
10
15
21
28
36
45
55
The sum of the squares of our list of numbers is 55

In python which are sequence of elements such as strings, tuples etc.

Let us try and apply for loop to iterate over their elemets.

In [61]:
#Let us first store the sequence of elemets such as strings variable
sentence = "Every sction has an equal and opposite reaction!"

In [62]:
for char in sentence:
    print(f"My alphabets is {char}")

My alphabets is E
My alphabets is v
My alphabets is e
My alphabets is r
My alphabets is y
My alphabets is
My alphabets is s
My alphabets is c
My alphabets is t
My alphabets is i
My alphabets is o
My alphabets is n
My alphabets is
My alphabets is h
My alphabets is a
My alphabets is s
My alphabets is
My alphabets is a
My alphabets is n
My alphabets is
My alphabets is e
My alphabets is q
My alphabets is u
My alphabets is a
My alphabets is l
My alphabets is
My alphabets is a
My alphabets is n
My alphabets is d
My alphabets is
My alphabets is o
My alphabets is p
My alphabets is p
My alphabets is o
My alphabets is s
My alphabets is i
My alphabets is t
My alphabets is e
My alphabets is
My alphabets is r
My alphabets is e
My alphabets is a
My alphabets is c
My alphabets is t
My alphabets is i
My alphabets is o
My alphabets is n
My alphabets is !

In [63]:
#let apply a for loop to do the above task
for index,char in enumerate(sentence):
    print(f"The index is {index} and the character is {char}")

The index is 0 and the character is E
The index is 1 and the character is v
The index is 2 and the character is e
The index is 3 and the character is r
The index is 4 and the character is y
The index is 5 and the character is
The index is 6 and the character is s
The index is 7 and the character is c
The index is 8 and the character is t
The index is 9 and the character is i
The index is 10 and the character is o
The index is 11 and the character is n
The index is 12 and the character is
The index is 13 and the character is h
The index is 14 and the character is a
The index is 15 and the character is s
The index is 16 and the character is
The index is 17 and the character is a
The index is 18 and the character is n
The index is 19 and the character is
The index is 20 and the character is e
The index is 21 and the character is q
The index is 22 and the character is u
The index is 23 and the character is a
The index is 24 and the character is l
The index is 25 and the character is
The index is 26 and the character is a
The index is 27 and the character is n
The index is 28 and the character is d
The index is 29 and the character is
The index is 30 and the character is o
The index is 31 and the character is p
The index is 32 and the character is p
The index is 33 and the character is o
The index is 34 and the character is s
The index is 35 and the character is i
The index is 36 and the character is t
The index is 37 and the character is e
The index is 38 and the character is
The index is 39 and the character is r
The index is 40 and the character is e
The index is 41 and the character is a
The index is 42 and the character is c
The index is 43 and the character is t
The index is 44 and the character is i
The index is 45 and the character is o
The index is 46 and the character is n
The index is 47 and the character is !

In [68]:
Best_quotes = "Life is too short to waste time on things that dosen't matters. Ifyou want to be sucessful, you must be willing to do the things that other won't." "Belive in yourself and all that you are. know that there is something inside you that is graeter than any obstacle"
print(Best_quotes)

Life is too short to waste time on things that dosen't matters. Ifyou want to be sucessful, you must be willing to do the things that other won't.Belive in yourself and all that you are. know that there is something inside you that is graeter than any obstacle

In [69]:
words_by_quotes = Best_quotes.split(" ")
print(words_by_quotes)

['Life', 'is', 'too', 'short', 'to', 'waste', 'time', 'on', 'things', 'that', "dosen't", 'matters.', 'Ifyou', 'want', 'to', 'be', 'sucessful,', 'you', 'must', 'be', 'willing', 'to', 'do', 'the', 'things', 'that', 'other', "won't.Belive", 'in', 'yourself', 'and', 'all', 'that', 'you', 'are.', 'know', 'that', 'there', 'is', 'something', 'inside', 'you', 'that', 'is', 'graeter', 'than', 'any', 'obstacle']

In [70]:
#now we can print each word by iterating through this list
for word in words_by_quotes:
    if word not in ['the', 'you']:
        print(f"The word is {word}")

The word is Life
The word is is
The word is too
The word is short
The word is to
The word is waste
The word is time
The word is on
The word is things
The word is that
The word is dosen't
The word is matters.
The word is Ifyou
The word is want
The word is to
The word is be
The word is sucessful,
The word is must
The word is be
The word is willing
The word is to
The word is do
The word is things
The word is that
The word is other
The word is won't.Belive
The word is in
The word is yourself
The word is and
The word is all
The word is that
The word is are.
The word is know
The word is that
The word is there
The word is is
The word is something
The word is inside
The word is that
The word is is
The word is graeter
The word is than
The word is any
The word is obstacle

In [22]:
data_science = "Need to learn python, SQL, PowerBI, Tableau, Advance excel"
print(data_science)
designation = data_science.split(" ")
print(designation)
for char in designation:
    print(f"My alphabets is {char}")
for word in designation:
    if word not in ['to', 'SQL']:
        print(f"The word is {word}")

Need to learn python, SQL, PowerBI, Tableau, Advance excel
['Need', 'to', 'learn', 'python,', 'SQL,', 'PowerBI,', 'Tableau,', 'Advance', 'excel']
My alphabets is Need
My alphabets is to
My alphabets is learn
My alphabets is python,
My alphabets is SQL,
My alphabets is PowerBI,
My alphabets is Tableau,
My alphabets is Advance
My alphabets is excel
The word is Need
The word is learn
The word is python,
The word is SQL,
The word is PowerBI,
The word is Tableau,
The word is Advance
The word is excel

# We can also iterate through each element of tuple as well.

In [71]:
# suppose we have a tuple of days
days=('Monday','Tuesday','Wednesday','Thrusday','Friday','Saturday','Sunday')
for day in days:
    print(f"Today is {day}.")

Today is Monday.
Today is Tuesday.
Today is Wednesday.
Today is Thrusday.
Today is Friday.
Today is Saturday.
Today is Sunday.

In [74]:
country_city_river_list = [('India','New delhi','Ganga'), ('Hamburg','Germany','Eibe'),('UK','Bristol','avon'),('Japan','Arakava','Tokyo')]
print(country_city_river_list)

[('India', 'New delhi', 'Ganga'), ('Hamburg', 'Germany', 'Eibe'), ('UK', 'Bristol', 'avon'), ('Japan', 'Arakava', 'Tokyo')]

In [77]:
#Let us itearte through each tuple elements of this list and unpack each item
for country,city,river in country_city_river_list:
    #print (country_city)
    print(f"The capital of the country {country} is {city} and it also has time the river {river}.")

The capital of the country India is New delhi and it also has time the river Ganga.
The capital of the country Hamburg is Germany and it also has time the river Eibe.
The capital of the country UK is Bristol and it also has time the river avon.
The capital of the country Japan is Arakava and it also has time the river Tokyo.

In [17]:
country_city_name_list = [('India','New delhi','Aniket'), ('Hamburg','Germany','Romeo'),('UK','Bristol','Christopher'),('Japan','Arakava','naruto')]
print(country_city_name_list)

[('India', 'New delhi', 'Aniket'), ('Hamburg', 'Germany', 'Romeo'), ('UK', 'Bristol', 'Christopher'), ('Japan', 'Arakava', 'naruto')]

In [18]:
for country,city,name in country_city_name_list:
    #print (country_city)
    print(f"The capital of the country {country} is {city} and it also has time the name {name}.")

The capital of the country India is New delhi and it also has time the name Aniket.
The capital of the country Hamburg is Germany and it also has time the name Romeo.
The capital of the country UK is Bristol and it also has time the name Christopher.
The capital of the country Japan is Arakava and it also has time the name naruto.