# Homework#1

-Addition, subtraction,Multiplication and division of Integers, float, complex number. 
-strings

# Addition

In [1]:
a=25
b=50
print(a+b)

75

In [2]:
#addition
25+50

75

# Subtraction

In [3]:
a=50
b=35
print(a-b)

15

In [4]:
#Subtraction
50-35

15

# Multiplication

In [5]:
a=87
b=64
print(a*b)

5568

In [6]:
87*64

5568

# Division

In [7]:
a=64
b=8
print(a/b)

8.0

In [8]:
a/b

8.0

# Float

In [9]:
#addtion
a=5.6
b=8.6
print(a+b)

14.2

In [10]:
5.6+8.6

14.2

In [11]:
#Subtraction
a=10.0
b=9.80
print(a-b)

0.1999999999999993

In [12]:
10.00-9.80

0.1999999999999993

In [13]:
#multiplication
a=8.63
b=5.82
print(a*b)

50.226600000000005

In [14]:
8.63*5.82

50.226600000000005

In [15]:
#Division
a=25.0
b=0.25
print(a/b)

100.0

In [16]:
25.0/0.25

100.0

# complex

In [17]:
#addition
a=1+5j
b=1-8j
print(a+b)

(2-3j)

In [18]:
(1+5j)+(1-8j)

(2-3j)

In [19]:
#Subtraction
a=5+6j
b=2-3j
print(a-b)

(3+9j)

In [20]:
(5+6j)-(2-3j)

(3+9j)

In [21]:
#multiplication
a=2+5j
b=1-6j
print(a*b)

(32-7j)

In [22]:
(2+5j)*(1-6j)

(32-7j)

In [24]:
#Division
a=5+25j
b=1+5j
print(a/b)

(5+0j)

In [25]:
(5+25j)/(1+5j)

(5+0j)

# Strings

abc= ("Homework")
print(abc)
type(abc)

In [29]:
mno= ('Homework2')
print(mno)
type(mno)

Homework2

str

In [30]:
xyz=("""Homework3""")
print(xyz)
type(xyz)

Homework3

str

# Homework#2

Create 10 list and print that list, find its data type and length of that list.

In [2]:
#List_1 having integer values.

integers=[11,12,15,26,85,96,26,27,58,29,62,25,26,24,58,45,16,58,16,61,95,84,18,21,54,56,57,58,56,15,15,48,59,84,80,90,100]
print(integers)
print(type(integers))
len(integers)

[11, 12, 15, 26, 85, 96, 26, 27, 58, 29, 62, 25, 26, 24, 58, 45, 16, 58, 16, 61, 95, 84, 18, 21, 54, 56, 57, 58, 56, 15, 15, 48, 59, 84, 80, 90, 100]
<class 'list'>

37

In [3]:
#List_2 having float values.

Float=[15.10,18.60,89.60,48.63,68.91,64.82,61.97,63.87,64.98,74.50,32.50,98.56,48.63,69.62,19.63]
print(Float)
print(type(Float))
len(Float)

[15.1, 18.6, 89.6, 48.63, 68.91, 64.82, 61.97, 63.87, 64.98, 74.5, 32.5, 98.56, 48.63, 69.62, 19.63]
<class 'list'>

15

In [5]:
#List_3 having Strings values.

Strings=['ram','shayam','krishna','raj','ganesh']
print(Strings)
print(type(Strings))
len(Strings)

['ram', 'shayam', 'krishna', 'raj', 'ganesh']
<class 'list'>

5

In [6]:
#list_4 having Complex number values.
Complex=[1+5j,15-2j,9+1j,69+96j,3-9j,8-8j,79+9j,89+5j,3-5j,29-69j]
print(Complex)
print(type(Complex))
len(Complex)

[(1+5j), (15-2j), (9+1j), (69+96j), (3-9j), (8-8j), (79+9j), (89+5j), (3-5j), (29-69j)]
<class 'list'>

10

In [7]:
#List_5 having integer, Float, strings and complex number value.
Mixed_datatype=[4,9,6,5+6j,69-9j,'aniket',5,6,965,487,'gadekar',5.6,59.6,95.5,945.56,56,948,'alex',4+6j]
print(Mixed_datatype)
print(type(Mixed_datatype))
len(Mixed_datatype)

[4, 9, 6, (5+6j), (69-9j), 'aniket', 5, 6, 965, 487, 'gadekar', 5.6, 59.6, 95.5, 945.56, 56, 948, 'alex', (4+6j)]
<class 'list'>

19

In [8]:
#List_6 having fruits 
Fruits=['apple', 'Mango','grapes','watermelon','orange','banana']
print(Fruits)
print(type(Fruits))
len(Fruits)

['apple', 'Mango', 'grapes', 'watermelon', 'orange', 'banana']
<class 'list'>

6

In [9]:
#List_7 having colours
Colours=['orange','Red','yellow','black','white','green','pink','blue', 'Brown', 'purple', 'grey', 'voilet']
print(Colours)
print(type(Colours))
len(Colours)

['orange', 'Red', 'yellow', 'black', 'white', 'green', 'pink', 'blue', 'Brown', 'purple', 'grey', 'voilet']
<class 'list'>

12

In [10]:
#List_8 having students name
Students=['Aniket','prasad','Ajay','gaurav','gitesh','nehal','yash','saqlain','amit','shushat']
print(Students)
print(type(Students))
len(Students)

['Aniket', 'prasad', 'Ajay', 'gaurav', 'gitesh', 'nehal', 'yash', 'saqlain', 'amit', 'shushat']
<class 'list'>

10

In [11]:
#List_9 having flowers
Flowers=['marigold','sunflower','lily','rose','lotus']
print(Flowers)
print(type(Flowers))
len(Flowers)

['marigold', 'sunflower', 'lily', 'rose', 'lotus']
<class 'list'>

5

In [12]:
#List_10 having cities
Cities=['Mumbai','Pune','delhi','Kolkata','hydrabad','bangaluru','chennei','shrinagar','kanyakumari']
print(Cities)
print(type(Cities))
len(Cities)

['Mumbai', 'Pune', 'delhi', 'Kolkata', 'hydrabad', 'bangaluru', 'chennei', 'shrinagar', 'kanyakumari']
<class 'list'>

9

# Homework#3

Practice indexing and slicing method in list

In [3]:
States = ['Maharashtra', 'Goa','Odisa', 'uttar pradesh', 'Madhya pradesh', 'Rajasthan', 'Gujrat', 'Andrapradesh', 'haryana','Punjab', 'jammu & kashmir', 'Arunachal pradesh', 'assam','manipur','mizoram','tripura', 'kerla', 'west bengal', 'sikkim', 'jharkhand','uttarakhand','delhi', 'nagaland','chattisgard','bihar', 'tamil nadu','telengana' ,'karnataka', 'meghalaya']
print(States)

['Maharashtra', 'Goa', 'Odisa', 'uttar pradesh', 'Madhya pradesh', 'Rajasthan', 'Gujrat', 'Andrapradesh', 'haryana', 'Punjab', 'jammu & kashmir', 'Arunachal pradesh', 'assam', 'manipur', 'mizoram', 'tripura', 'kerla', 'west bengal', 'sikkim', 'jharkhand', 'uttarakhand', 'delhi', 'nagaland', 'chattisgard', 'bihar', 'tamil nadu', 'telengana', 'karnataka', 'meghalaya']

In [4]:
len(States)

29

In [5]:
print(type(States))

<class 'list'>

In [6]:
print(States[5])

Rajasthan

In [7]:
print(States[-9])

uttarakhand

In [8]:
print(States[16])

kerla

In [11]:
print(States[-21])

haryana

In [12]:
#Slicing
States[0:30]

['Maharashtra',
 'Goa',
 'Odisa',
 'uttar pradesh',
 'Madhya pradesh',
 'Rajasthan',
 'Gujrat',
 'Andrapradesh',
 'haryana',
 'Punjab',
 'jammu & kashmir',
 'Arunachal pradesh',
 'assam',
 'manipur',
 'mizoram',
 'tripura',
 'kerla',
 'west bengal',
 'sikkim',
 'jharkhand',
 'uttarakhand',
 'delhi',
 'nagaland',
 'chattisgard',
 'bihar',
 'tamil nadu',
 'telengana',
 'karnataka',
 'meghalaya']

In [13]:
States[15:21]

['tripura', 'kerla', 'west bengal', 'sikkim', 'jharkhand', 'uttarakhand']

In [15]:
States[-9:-1]

['uttarakhand',
 'delhi',
 'nagaland',
 'chattisgard',
 'bihar',
 'tamil nadu',
 'telengana',
 'karnataka']

In [16]:
States [-18:-11]

['Arunachal pradesh',
 'assam',
 'manipur',
 'mizoram',
 'tripura',
 'kerla',
 'west bengal']

In [17]:
States [21:28]

['delhi',
 'nagaland',
 'chattisgard',
 'bihar',
 'tamil nadu',
 'telengana',
 'karnataka']

In [18]:
States [1:10]

['Goa',
 'Odisa',
 'uttar pradesh',
 'Madhya pradesh',
 'Rajasthan',
 'Gujrat',
 'Andrapradesh',
 'haryana',
 'Punjab']

In [19]:
States[11:20]

['Arunachal pradesh',
 'assam',
 'manipur',
 'mizoram',
 'tripura',
 'kerla',
 'west bengal',
 'sikkim',
 'jharkhand']

# Homework#4

Practice on Remove function, list function, print(number)max/min, swapping variable, Nested list.

In [1]:
#Remove function (vairable.remove(_))
vehicle = ['cycle','bike','auto-rikshaw','bus','car','train','truck','aeroplane']
print(vehicle)

['cycle', 'bike', 'auto-rikshaw', 'bus', 'car', 'train', 'truck', 'aeroplane']

In [5]:
vehicle.remove('bike')
print(vehicle)

['cycle', 'auto-rikshaw', 'bus', 'car', 'train', 'truck', 'aeroplane']

In [6]:
vehicle.remove('car')
print(vehicle)

['cycle', 'auto-rikshaw', 'bus', 'train', 'truck', 'aeroplane']

In [7]:
Mumbai = ["veleparle","malad","virar","marin line","mahim","dadar"]
print(Mumbai)

['veleparle', 'malad', 'virar', 'marin line', 'mahim', 'dadar']

In [8]:
Mumbai.remove("malad")
print(Mumbai)

['veleparle', 'virar', 'marin line', 'mahim', 'dadar']

In [10]:
#Leanth function

len(Mumbai)

5

In [11]:
len(vehicle)

6

In [12]:
#print number(Max/Min)
max(Mumbai)

'virar'

In [13]:
max(vehicle)

'truck'

In [14]:
min(Mumbai)

'dadar'

In [15]:
min(vehicle)

'aeroplane'

In [18]:
#swapping variables
Aniket = 120000
Diksha = 50000
Nehal = 80000
Ajay = 150000
Aniket,Diksha,Nehal,Ajay = Nehal,Diksha,Ajay,Aniket
print(Aniket,Diksha,Nehal,Ajay)

80000 50000 150000 120000

In [27]:
product_1 = 'AC'
product_2 = 'TV'
product_3 = 'Washing machine'
product_1,product_2,product_3 = product_3,product_1,product_2
print(product_1, product_2, product_3)

Washing machine AC TV

In [28]:
#Nested list (lists in list)
list_101 = ['pramod','Anjali','Abhishek']
list_102 = [12,58,96,34,71]
list_103 = [25+5j,89-6j,9+6j]
list_104 = [235.6,896.98,56.98,71.85,19.63]
lists_in_list = [list_101,list_102,list_103,list_104]
print(lists_in_list )

[['pramod', 'Anjali', 'Abhishek'], [12, 58, 96, 34, 71], [(25+5j), (89-6j), (9+6j)], [235.6, 896.98, 56.98, 71.85, 19.63]]

In [30]:
topic_1 = ['python','SQL','powerBI','Tablue','excel']
topic_2 = [1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,2.0]
topic_3 = ["sony","colours","SubTV","DDnational","CN"]
topic_4 = [123,456,789,147,258,369,741,852,963,321,654,987]
topic_5 = ['A','B','C','D','E','F']
Addition_of_list = [topic_1,topic_2,topic_3,topic_4,topic_5]
print(Addition_of_list)

[['python', 'SQL', 'powerBI', 'Tablue', 'excel'], [1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0], ['sony', 'colours', 'SubTV', 'DDnational', 'CN'], [123, 456, 789, 147, 258, 369, 741, 852, 963, 321, 654, 987], ['A', 'B', 'C', 'D', 'E', 'F']]

# Homework#5

practice on items(), get(), update() method.

In [1]:
#create dictionary example_1
India = {'Maharashtra':'75', 'Goa':'50','Odisa':'49', 'uttar pradesh':'48', 'Madhya pradesh':'47', 'Rajasthan':'45', 'Gujrat':'43', 'Andrapradesh':'41', 'haryana':'39','Punjab':'40', 'jammu & kashmir':'1', 'Arunachal pradesh':'31', 'assam':'27','manipur':'21','mizoram':'22','tripura':'23', 'kerla':'2', 'west bengal':'5', 'sikkim':'7', 'jharkhand':'8','uttarakhand':'14','delhi':'12', 'nagaland':'10','chattisgard':'13','bihar':'25', 'tamil nadu':'15','telengana':'19' ,'karnataka':'16', 'meghalaya':'15'}
print(India)

{'Maharashtra': '75', 'Goa': '50', 'Odisa': '49', 'uttar pradesh': '48', 'Madhya pradesh': '47', 'Rajasthan': '45', 'Gujrat': '43', 'Andrapradesh': '41', 'haryana': '39', 'Punjab': '40', 'jammu & kashmir': '1', 'Arunachal pradesh': '31', 'assam': '27', 'manipur': '21', 'mizoram': '22', 'tripura': '23', 'kerla': '2', 'west bengal': '5', 'sikkim': '7', 'jharkhand': '8', 'uttarakhand': '14', 'delhi': '12', 'nagaland': '10', 'chattisgard': '13', 'bihar': '25', 'tamil nadu': '15', 'telengana': '19', 'karnataka': '16', 'meghalaya': '15'}

In [2]:
type(India)

dict

In [3]:
len(India)

29

In [7]:
#Items method

A = India.items()
print(A)

dict_items([('Maharashtra', '75'), ('Goa', '50'), ('Odisa', '49'), ('uttar pradesh', '48'), ('Madhya pradesh', '47'), ('Rajasthan', '45'), ('Gujrat', '43'), ('Andrapradesh', '41'), ('haryana', '39'), ('Punjab', '40'), ('jammu & kashmir', '1'), ('Arunachal pradesh', '31'), ('assam', '27'), ('manipur', '21'), ('mizoram', '22'), ('tripura', '23'), ('kerla', '2'), ('west bengal', '5'), ('sikkim', '7'), ('jharkhand', '8'), ('uttarakhand', '14'), ('delhi', '12'), ('nagaland', '10'), ('chattisgard', '13'), ('bihar', '25'), ('tamil nadu', '15'), ('telengana', '19'), ('karnataka', '16'), ('meghalaya', '15')])

In [8]:
list(India.items())

[('Maharashtra', '75'),
 ('Goa', '50'),
 ('Odisa', '49'),
 ('uttar pradesh', '48'),
 ('Madhya pradesh', '47'),
 ('Rajasthan', '45'),
 ('Gujrat', '43'),
 ('Andrapradesh', '41'),
 ('haryana', '39'),
 ('Punjab', '40'),
 ('jammu & kashmir', '1'),
 ('Arunachal pradesh', '31'),
 ('assam', '27'),
 ('manipur', '21'),
 ('mizoram', '22'),
 ('tripura', '23'),
 ('kerla', '2'),
 ('west bengal', '5'),
 ('sikkim', '7'),
 ('jharkhand', '8'),
 ('uttarakhand', '14'),
 ('delhi', '12'),
 ('nagaland', '10'),
 ('chattisgard', '13'),
 ('bihar', '25'),
 ('tamil nadu', '15'),
 ('telengana', '19'),
 ('karnataka', '16'),
 ('meghalaya', '15')]

In [9]:
#Get method

India.get('Goa')

'50'

In [11]:
India.get('karnataka')

'16'

In [12]:
India.get('assam')

'27'

In [13]:
India.get('Maharashtra')

'75'

In [14]:
#update method

India.update({'pondicherry':'3'})
print(India)

{'Maharashtra': '75', 'Goa': '50', 'Odisa': '49', 'uttar pradesh': '48', 'Madhya pradesh': '47', 'Rajasthan': '45', 'Gujrat': '43', 'Andrapradesh': '41', 'haryana': '39', 'Punjab': '40', 'jammu & kashmir': '1', 'Arunachal pradesh': '31', 'assam': '27', 'manipur': '21', 'mizoram': '22', 'tripura': '23', 'kerla': '2', 'west bengal': '5', 'sikkim': '7', 'jharkhand': '8', 'uttarakhand': '14', 'delhi': '12', 'nagaland': '10', 'chattisgard': '13', 'bihar': '25', 'tamil nadu': '15', 'telengana': '19', 'karnataka': '16', 'meghalaya': '15', 'pondicherry': '3'}

In [15]:
India.update({'Andaman and Nicobar':'2'})
print(India)

{'Maharashtra': '75', 'Goa': '50', 'Odisa': '49', 'uttar pradesh': '48', 'Madhya pradesh': '47', 'Rajasthan': '45', 'Gujrat': '43', 'Andrapradesh': '41', 'haryana': '39', 'Punjab': '40', 'jammu & kashmir': '1', 'Arunachal pradesh': '31', 'assam': '27', 'manipur': '21', 'mizoram': '22', 'tripura': '23', 'kerla': '2', 'west bengal': '5', 'sikkim': '7', 'jharkhand': '8', 'uttarakhand': '14', 'delhi': '12', 'nagaland': '10', 'chattisgard': '13', 'bihar': '25', 'tamil nadu': '15', 'telengana': '19', 'karnataka': '16', 'meghalaya': '15', 'pondicherry': '3', 'Andaman and Nicobar': '2'}

In [16]:
#create dictionary example_2
passenger = {'cycle':'1','bike':'2','auto-rikshaw':['3','4'] ,'bus':['20','25','30'] ,'car':'4','train':['500','525','550','600'],'truck':'10','aeroplane':'100'}
print(passenger)

{'cycle': '1', 'bike': '2', 'auto-rikshaw': ['3', '4'], 'bus': ['20', '25', '30'], 'car': '4', 'train': ['500', '525', '550', '600'], 'truck': '10', 'aeroplane': '100'}

In [18]:
print(type(passenger))
len(passenger)

<class 'dict'>

8

In [19]:
#items method
ABCD = passenger.items()
print(ABCD)

dict_items([('cycle', '1'), ('bike', '2'), ('auto-rikshaw', ['3', '4']), ('bus', ['20', '25', '30']), ('car', '4'), ('train', ['500', '525', '550', '600']), ('truck', '10'), ('aeroplane', '100')])

In [20]:
list(passenger.items())

[('cycle', '1'),
 ('bike', '2'),
 ('auto-rikshaw', ['3', '4']),
 ('bus', ['20', '25', '30']),
 ('car', '4'),
 ('train', ['500', '525', '550', '600']),
 ('truck', '10'),
 ('aeroplane', '100')]

In [21]:
#get method
passenger.get('car')

'4'

In [22]:
passenger.get('auto-rikshaw')

['3', '4']

In [23]:
passenger.get('train')

['500', '525', '550', '600']

In [25]:
#update method
passenger.update({'rocket':'5'})
print(passenger)

{'cycle': '1', 'bike': '2', 'auto-rikshaw': ['3', '4'], 'bus': ['20', '25', '30'], 'car': '4', 'train': ['500', '525', '550', '600'], 'truck': '10', 'aeroplane': '100', 'rocket': '5'}

In [26]:
passenger.update({'ship':['100','200','300','400','500','600','700','800','900','1000']})
print(passenger)

{'cycle': '1', 'bike': '2', 'auto-rikshaw': ['3', '4'], 'bus': ['20', '25', '30'], 'car': '4', 'train': ['500', '525', '550', '600'], 'truck': '10', 'aeroplane': '100', 'rocket': '5', 'ship': ['100', '200', '300', '400', '500', '600', '700', '800', '900', '1000']}

# Homework#6

Practice on Dict and pop() method.

In [7]:
solar_system = {'Mercury':'1', 'Venus':'2', 'Earth':'3', 'Mars':'4','Jupiter':'5', 'saturn':'6','uranus':'7','neptune':'8','pluto':'9'}
for s in solar_system:
    print(s,'=',solar_system[s])

Mercury = 1
Venus = 2
Earth = 3
Mars = 4
Jupiter = 5
saturn = 6
uranus = 7
neptune = 8
pluto = 9

In [8]:
print('Before changes:',solar_system)
not_a_planet = solar_system.pop('pluto')
print('After changes:',solar_system)
print('Deleted planet:', not_a_planet)

Before changes: {'Mercury': '1', 'Venus': '2', 'Earth': '3', 'Mars': '4', 'Jupiter': '5', 'saturn': '6', 'uranus': '7', 'neptune': '8', 'pluto': '9'}
After changes: {'Mercury': '1', 'Venus': '2', 'Earth': '3', 'Mars': '4', 'Jupiter': '5', 'saturn': '6', 'uranus': '7', 'neptune': '8'}
Deleted planet: 9

In [10]:
chetna_boyz = {'Aniket':'Superstar','Prasad':'Artist','Ajay':'Rich','Shwetank':'baklol','Amit':'Goba','Gaurav':'Father','panchal':'Hacker','Mohit':'Helper','Saqlain':'Player'}
for a in chetna_boyz:
    print(a,'-----',chetna_boyz[a])

Aniket ----- Superstar
Prasad ----- Artist
Ajay ----- Rich
Shwetank ----- baklol
Amit ----- Goba
Gaurav ----- Father
panchal ----- Hacker
Mohit ----- Helper
Saqlain ----- Player

In [29]:
print('Before changes:',chetna_boyz)
not_in_group = chetna_boyz.pop('Shwetank')
print('After changes:',chetna_boyz)
print('Not in chetna boyz:', not_in_group)

Before changes: {'Aniket': 'Superstar', 'Prasad': 'Artist', 'Ajay': 'Rich', 'Shwetank': 'baklol', 'Amit': 'Goba', 'Gaurav': 'Father', 'panchal': 'Hacker', 'Mohit': 'Helper', 'Saqlain': 'Player'}
After changes: {'Aniket': 'Superstar', 'Prasad': 'Artist', 'Ajay': 'Rich', 'Amit': 'Goba', 'Gaurav': 'Father', 'panchal': 'Hacker', 'Mohit': 'Helper', 'Saqlain': 'Player'}
Not in chetna boyz: baklol

In [7]:
a = range(15,1,-3)
for i in a:
    print(i)

15
12
9
6
3

In [8]:
Name="Aniket"
n= len(Name)
for p in range(n):
    print(p,"---",Name[p])

0 --- A
1 --- n
2 --- i
3 --- k
4 --- e
5 --- t

# Homework#7

Practice on Sets and (empty_set, non_empty_set, ADD, REMOVE, UNION, INTERSECTION) Method

In [7]:
#create an empty set and add / remove the value in that empty set.
New_set = set()
New_set.add('pen')
#show
New_set

{'pen'}

In [12]:
my_set6 = set()
my_set6.add('raj')
#show 
my_set6
my_set6.add('satyam')
my_set6
my_set6.add('pranit')
my_set6
my_set6.add('druva')
my_set6

{'druva', 'pranit', 'raj', 'satyam'}

In [16]:
my_Set = {'druva', 'pranit', 'raj', 'satyam'}
print(my_Set)
my_Set.remove('raj')
print(my_Set)

{'satyam', 'druva', 'raj', 'pranit'}
{'satyam', 'druva', 'pranit'}

In [17]:
my_Set.remove('pranit')
print(my_Set)

{'satyam', 'druva'}

In [19]:
#intersection and union 
A ={1,3,5,7,9,11,13,15,17,19,21}
B = {2,4,6,8,10,12,14,16,18,20}
C = {1,5,9,21,25,26,28,27}
D = {19,63,89,87,85,15,64}
A|B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21}

In [24]:
B|A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21}

In [26]:
B = {2,4,6,8,10,12,14,16,18,20}
C = {1,5,9,21,25,26,28,27}
B|C

{1, 2, 4, 5, 6, 8, 9, 10, 12, 14, 16, 18, 20, 21, 25, 26, 27, 28}

In [27]:
B&C

set()

In [28]:
A&B

set()

In [29]:
A&C

{1, 5, 9, 21}

In [30]:
A&D

{15, 19}

In [31]:
D&C

set()

# Homework#8

Practice on Tuple indexing, slicing and (Index, count, Immutability)

In [32]:
my_tuple = (15,98,63.5,'aniket','pranit',69,95.06)
print(my_tuple)

(15, 98, 63.5, 'aniket', 'pranit', 69, 95.06)

In [33]:
type(my_tuple)

tuple

In [34]:
len(my_tuple)

7

In [35]:
#indexing the elements in tuple
my_tuple[2]

63.5

In [36]:
my_tuple[-5]

63.5

In [37]:
#tuple slicing 
my_tuple[1:3]

(98, 63.5)

In [38]:
my_tuple[3:6]

('aniket', 'pranit', 69)

In [39]:
my_tuple[:6]

(15, 98, 63.5, 'aniket', 'pranit', 69)

In [40]:
my_tuple[0:]

(15, 98, 63.5, 'aniket', 'pranit', 69, 95.06)

In [41]:
my_tuple[-7:-3]

(15, 98, 63.5, 'aniket')

In [55]:
#Index, count, Immutability method
IPL_PL = ('MI','CSK','RR','RCB','SRH','KXIP','DD','GT','RR')
print(IPL_PL)

('MI', 'CSK', 'RR', 'RCB', 'SRH', 'KXIP', 'DD', 'GT', 'RR')

In [46]:
type(IPL_PL)

tuple

In [56]:
len(IPL_PL)

9

In [50]:
#INDEX
IPL_PL.index('RR')

2

In [51]:
IPL_PL.index('DD')

6

In [59]:
data_IPL = (2,65,98,62,6,2,62,69,64,94,78,78,69,65,215)
print(data_IPL)
#COUNT
data_IPL.count(62)

(2, 65, 98, 62, 6, 2, 62, 69, 64, 94, 78, 78, 69, 65, 215)

2

In [60]:
data_IPL.count(78)

2

In [61]:
data_IPL.count(69)

2

In [62]:
#immutability in list

my_list = [2, 65, 98, 62, 6, 2, 62, 69, 64, 94, 78, 78, 69, 65, 215]
print(my_list)

[2, 65, 98, 62, 6, 2, 62, 69, 64, 94, 78, 78, 69, 65, 215]

In [63]:
my_list[6] = "Aniket"
my_list

[2, 65, 98, 62, 6, 2, 'Aniket', 69, 64, 94, 78, 78, 69, 65, 215]

In [64]:
my_list[-4] = "Superstar"

In [65]:
my_list

[2, 65, 98, 62, 6, 2, 'Aniket', 69, 64, 94, 78, 'Superstar', 69, 65, 215]

# Homework#9

Practice on boolean

In [7]:
Aniket = 85
Pranit = 89
Abhishek = 70
Raj = 80
Prajwal = 55
Karan = 70
Shraddha = 85

In [8]:
plan = (Aniket == Shraddha)
print(plan)

True

In [10]:
plan = (Pranit>=Raj)
print(plan)

True

In [11]:
plan = (Aniket!=Karan)
print(plan)

True

In [12]:
plan = (Prajwal<Abhishek)
print(plan)

True

In [13]:
plan = (Shraddha<=Karan)
print(plan)

False

In [15]:
plan = (Raj>Aniket)
print(plan)

False