# What is List?

List are the concept of the use to store multipul item in asingle variable. 
list is always use in Square braket [].
List are mutable in python (it can be change).
List are one of built in data types in other thr set and dictionary all with different uses.

In [3]:
List_1=[12,825,86.26,'aniket','gadekar',569+9j,95,869,256.96,46+9]
print(List_1)
print(type(List_1))
len(List_1)

[12, 825, 86.26, 'aniket', 'gadekar', (569+9j), 95, 869, 256.96, 55]
<class 'list'>

10

In [6]:
#List consist integer value.
List_2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
print(List_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [7]:
type(List_2)

list

In [8]:
len(List_2)

30

In [9]:
#List consist student's name
List_3=['Aniket','prasad','Ajay','gaurav','gitesh','nehal','yash','saqlain','amit','shushat']
print(List_3)
print(type(List_3))
len(List_3)

['Aniket', 'prasad', 'Ajay', 'gaurav', 'gitesh', 'nehal', 'yash', 'saqlain', 'amit', 'shushat']
<class 'list'>

10

In [10]:
#List consist float value.
List_4=[1.2,2.3,3.4,4.5,5.6,6.7,7.8,8.9,9.10,10.11,11.12,12.13,13.14,14.15,15.16,16.17,17.18,18.19,19.20]
print(List_4)
print(type(List_4))
len(List_4)

[1.2, 2.3, 3.4, 4.5, 5.6, 6.7, 7.8, 8.9, 9.1, 10.11, 11.12, 12.13, 13.14, 14.15, 15.16, 16.17, 17.18, 18.19, 19.2]
<class 'list'>

19

# LIST INDEXING METHOD

What is indexing?
- Indexing are the two type 
 1. forword(it will be start from 0)
 2. backword(it will be start -1 (backword))

In [1]:
list_4 = [1,2,3,4,5,6,7]
print(list_4)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
            0     1      2       3     4      5             forword     

list_5 = ['one','two','three','four','five','six']

           -6    -5     -4      -3    -2     -1            backword

In [2]:
list_5 = ['one','two','three','four','five','six']
print(list_5)

['one', 'two', 'three', 'four', 'five', 'six']

# Forward indexing

In [3]:
# grab the element at index 1, which is fourth element.
print(list_5[0])

one

In [4]:
print(list_5[3])

four

# Backword indexing

In [5]:
# grab the element at index -1, which is fourth element.
print(list_5[-1])

six

In [6]:
print(list_5[-6])

one

In [7]:
print(list_5[10])

IndexError: list index out of range

In [ ]:
 0    1     2      3     4    5
one, two, three, four, five, six
 -6   -5    -4    -3    -2    -1

In [1]:
#found the elements of these list
list1 = ['ram','preeti',15,12.69,26,58,6295,'raj']
print(list1)
len(list1)

['ram', 'preeti', 15, 12.69, 26, 58, 6295, 'raj']

8

In [2]:
#grab the element at index 3, which is the Fourth element
print(list1[5])

58

In [3]:
#grab the element at index 3, which is the Fourth element
print(list1[-6])

15

# List slicing

In [4]:
Number = ['one','two','three','four','five', 'six', 'seven','eight','nine','ten']
#print the list
print(Number)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [6]:
#grab the index 1 and everything pass it.
Number[:7]

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [8]:
Number[:3]

['one', 'two', 'three']

In [9]:
Number[:-3]

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [14]:
Number[5:9]

['six', 'seven', 'eight', 'nine']

In [15]:
Number[-8:-2]

['three', 'four', 'five', 'six', 'seven', 'eight']

# Remove function

This method is used to delete an object/value from the given list. note that it removes/deletes the firest occurence of the list

In [ ]:
Syntax : list.remove(object)

In [1]:
my_list = [1,2,3,4,10,4,'Append me',2.73,[1,2,3],[10,[19,20],30],'integer']
#print the list
print(my_list)

[1, 2, 3, 4, 10, 4, 'Append me', 2.73, [1, 2, 3], [10, [19, 20], 30], 'integer']

In [2]:
my_list.remove(2.73)
print(my_list)

[1, 2, 3, 4, 10, 4, 'Append me', [1, 2, 3], [10, [19, 20], 30], 'integer']

In [7]:
my_list = [1,2,3,4,10,4,'Append me',2.73,[1,2,3],[10,[19,20],30],'integer']
#print the list
print(my_list)

[1, 2, 3, 4, 10, 4, 'Append me', 2.73, [1, 2, 3], [10, [19, 20], 30], 'integer']

my_list.remove(1)
print(my_list)

In [10]:
my_list1 = [23,234,2,3,1,32,24]
print(my_list1)
my_list1.remove(23)
print(my_list1)

[23, 234, 2, 3, 1, 32, 24]
[234, 2, 3, 1, 32, 24]

# List Functions

In [11]:
# Consider a list of string
N = ['One', 'Two', 'Three','Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten', 'Eleven']
print(N)

['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten', 'Eleven']

In [12]:
len(N)

11

# Print(Number)

It is print the output for last number in list

In [13]:
new_list = ['Aruge','Burglar','Parent','Liner','Shape']
max(new_list)

'Shape'

In [16]:
b =['Sanket','Mahesh', 'Rohit']
print(b)
max(b)

['Sanket', 'Mahesh', 'Rohit']

'Sanket'

In [17]:
new_list = ['a', 'b', 'c', 'd']
max(new_list)

'd'

In [25]:
new_list = [112,532,555,666]
max(new_list)

666

# Swapping variable

Its change the place in thr objects.

In [19]:
a=10
b=20
a,b =b,a
print(a)
print(b)

20
10

In [20]:
a=30
b=32
c=50
d=40
a,b,c,d = a,d,c,b
print(a,b,c,d)

30 40 50 32

# Nested List

list in list

In [21]:
stud = ["Ravi","Akshay","Ram","sita"]
print(stud)

['Ravi', 'Akshay', 'Ram', 'sita']

In [22]:
list_1 = ['A', 'B', 'C']
list_2 = [11,12,13]
list_3 = [2,3,4]
#make a list of list to frame a matrix.
list_of_lists = [list_1,list_2,list_3]
print(list_of_lists)

[['A', 'B', 'C'], [11, 12, 13], [2, 3, 4]]

In [23]:
list_3 = [23,234,243,13]
list_4 = [3,abs,'S','M','G', '2']
list_5 = ['prasad','madhuri','ram', 'seeta']
list_6 = [213,324,123,13,4,2,132,13,132,445,5,4900234,24040,458965,695,6595602]
list_7 = ['lapis', 'digital','hdfhj','324','3243','wqe','ower']
list_of_lists = [list_3,list_4,list_5,list_6,list_7]
print(list_of_lists)

[[23, 234, 243, 13], [3, <built-in function abs>, 'S', 'M', 'G', '2'], ['prasad', 'madhuri', 'ram', 'seeta'], [213, 324, 123, 13, 4, 2, 132, 13, 132, 445, 5, 4900234, 24040, 458965, 695, 6595602], ['lapis', 'digital', 'hdfhj', '324', '3243', 'wqe', 'ower']]